.comment-navigation .nav-links a,
.item-service:hover,
.tagcloud a:hover,
.error-404 [type=submit],
.sticky .post-item-content,
.dropdown-item:focus,
.widget .search-form button,
.dropdown-item:hover,
.banner .social li a:hover,
.footer-social li a:hover,
.blog-item .blog-post-date,
.post-navigation .nav-links a:hover,
.post-tag a:hover,
[type=reset],
[type=submit],
.banner a.play-btn,
.portfolio-filter ul .list-inline-item:hover,
.amike-btn.bordered:hover,
.skill-bar,
.widget-area .widget .widget-title:after,
.progress-bar,
.amike-btn,
.amike-pricing-table.recommended:after,
.section-title:after,
.pagination .prev,
.pagination .next,
.banner a:hover,
.amike-pricing-table.recommended .amike-btn,
.contactform input[type=submit],
[type=submit],
[type=button] {
    background: #ff4a57;
}

.post-item-content h3:hover,
.section-title>span,
.comment-avatar-info h5,
.counter h2,
.blog-item h5 a:hover,
.navbar-nav .nav-link:hover,
a,
.comment-reply-link,
.widget-area .widget ul li a:hover,
.section-title h2 span,
#backtotop i,
.item-service i,
.address i,
.testimonial-rating i,
.section-title i {
    color: #ff4a57;
}

.post-password-form input[type=password],
.banner a,
.portfolio-filter ul .list-inline-item.active,
.amike-btn.bordered,
.testimonial .slick-arrow:hover,
.testimonial-avatar-img img,
.uil-ripple-css div,
.uil-ripple-css div:nth-of-type(1),
.testimonial img,
.amike-pricing-table.recommended,
[type=search] {
    border-color: #ff4a57!important;
}